/*Portfolio Contents Stylesheet*/
/* line 7, ../../sass/screen/portfolio.scss */
#portfolio-cont {
  width: 920px;
  height: 780px;
  padding: 40px 0px 0px 40px;
  border-bottom: #DDD solid 1px;
}
/* line 12, ../../sass/screen/portfolio.scss */
#portfolio-cont .portfolio {
  width: 280px;
  height: 220px;
  margin: 0px 20px 40px 0px;
  position: relative;
  float: left;
}
/* line 20, ../../sass/screen/portfolio.scss */
#portfolio-cont .portfolio img {
  margin-bottom: 20px;
}
/* line 23, ../../sass/screen/portfolio.scss */
#portfolio-cont .portfolio h1, #portfolio-cont .portfolio p {
  color: #575757;
}
/* line 26, ../../sass/screen/portfolio.scss */
#portfolio-cont .portfolio h1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
}
/* line 31, ../../sass/screen/portfolio.scss */
#portfolio-cont .portfolio p {
  font-size: 12px;
  line-height: 20px;
}

/* line 39, ../../sass/screen/portfolio.scss */
#pagination {
  height: 70px;
  width: 960px;
  margin: auto;
  position: relative;
  line-height: 50px;
  background: -webkit-linear-gradient(#eeeeee, white);
  background: -o-linear-gradient(#eeeeee, white);
  background: -moz-linear-gradient(#eeeeee, white);
  background: linear-gradient(#eeeeee, #ffffff);
}
/* line 51, ../../sass/screen/portfolio.scss */
#pagination span {
  color: blue;
  margin-left: 10px;
  font-size: 12px;
}
/* line 56, ../../sass/screen/portfolio.scss */
#pagination span:first-child {
  color: black;
  margin-left: 40px;
}
