/*Contents Stylesheet*/

$bgcolor : #FFF;
$fontcolor: #6B6B6b;
$bgcolor2: #EBEBEB;
$bordercolor: #BBB;
$bordercolor2: #DDD;
$hovercol1: #266ed0;
$hovercol2: #013b85;
$gradcol1: #CCC;
$gradcol2: #FFF;
$gradcol3: #EEE;


body{
	font-family: sans-serif;
	background: #0E0E0E;
}

#bg{
	height: 100%;
	width: 100%;
	position: absolute;
	background:url('../resources/page-bg.png');
	background-repeat: no-repeat;
}

#tel-head{
	height: 35px;
	width: 230px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: url('../resources/top-image.png');
	background-repeat: no-repeat;
}

#logo{
	height: 50px;
	width: 250px;
	position: relative;
	float: left;
	img, h1,h4{
		float: left;
	}
	img{
		height: 40px;
		width: 50px;
		position: relative;
	}
	h1{
		font-size: 30px;
	}
}

#container{
	width: 960px;
	height: auto;
	position: relative;
	border-radius: 7px;
	background: $bgcolor;
	margin: 30px auto;
	box-shadow:2px 2px 16px 5px #111;
}

#header{
	width: 100%;
	height: 100px;
	position:relative;
	#headcontents{
		width: 920px;
		height: 80px;
		padding: 30px 0px 0px 40px;
			#primarylinks{
				height: 50px;
				width: 550px;
				position: relative;
				float: right;
			}

		}
	}

	ul{
		list-style: none;
		width: 550px;
		float: left;
		li{
			font-size: 14px;
			float: left;
			margin: 25px 5px 0px 5px;
			a{
				text-decoration: none;
				padding: 10px 15px;
			}
			a:link {color:#6B6B6B;}
			a:visited {color:#6B6B6B;}
			a:hover {
				padding: 5px 14px;
				margin: 25px 0px 0px 0px;
				background: -webkit-linear-gradient($hovercol1, $hovercol2, $hovercol1);
				background: -o-linear-gradient($hovercol1, $hovercol2, $hovercol1);
				background: -moz-linear-gradient($hovercol1, $hovercol2, $hovercol1);
				background: linear-gradient($hovercol1, $hovercol2, $hovercol1);
				color:#FFF;
				border: #000 solid 1px;
				border-radius: 5px;
			}
			a:active {color:#6B6B6B;}  
		}
	}


input,button,textarea{
	color: #575757;
	font-weight: bold;
	border-radius: 3px;
	border: $bordercolor2 1px solid;
	background: -webkit-linear-gradient($gradcol3, $gradcol2);
	background: -o-linear-gradient($gradcol3, $gradcol2);
	background: -moz-linear-gradient($gradcol3, $gradcol2);
	background: linear-gradient($gradcol3, $gradcol2);
}
#title button{
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#BBB), color-stop(0.5, #EEE));
}

#banner-header{
	height: 85px;
	width: 100%;
	position: relative;
	background: url('../resources/banner-bg.png');
	background-repeat: no-repeat;
	color: #FFF;
	h1{
		top: 30px;
		left: 40px;
		font-size: 30px;
		float: left;
		position: relative;
	}
	div{
		position: absolute;
		width: 500px;
		height: 50px;
		top: 10px;
		right: 40px;
		ul{
			li{
				margin: 35px 0px 0px 30px;
			}
		}
		p{
			margin: 30px 0px 0px 30px;
			font-style: italic;
			font-size: 18px;
		}
	}

}
#cont{
	height: 720px;
	width: 100%;
	#content{
		height: 85.20%;
		width: 63.65%;
		position: relative;
		float: left;
		padding: 5.56%;
		color: #575757;
		border-right: 1px solid $bordercolor2;
		box-shadow: 15px 10px 30px 0px $bordercolor2;
		p{
			line-height: 25px;
			font-size: 14px;
			margin: 0px 0px 25px 0px;
		}
		h1{
			font-size: 16px;
			margin: 20px 0px 20px 0px;
		}
		h1:first-child{
			margin: 0px 0px 20px 0px;	
		}
		input{
			height:25px;
			width: 380px;
		}
		textarea{
			height: 200px;
			width: 380px;
			resize:none;		
			background: -webkit-linear-gradient($gradcol3, $gradcol2 20%);
			background: -o-linear-gradient($gradcol3, $gradcol2 20%);
			background: -moz-linear-gradient($gradcol3, $gradcol2 20%);
			background: linear-gradient($gradcol3, $gradcol2 20%);
		}
		input[type="submit"]{
			width: 100px;
			margin-top: 20px;
		}
	}
	#sidebar{
		height: 100%;
		width: 25%;
		position: relative;
		float: left;
		h5{
			height: 30px;
			line-height: 30px;
			text-indent: 20px;
			font-size: 20px;
			font-weight: bold;
			margin: 20px 0px 20px 0px;
			background: -webkit-linear-gradient(left, $gradcol1 , $gradcol2);
			background: -o-linear-gradient(right, $gradcol1 , $gradcol2);
			background: -moz-linear-gradient(right, $gradcol1 , $gradcol2);
			background: linear-gradient(to right, $gradcol1 , $gradcol2)
		}
		h5:first-child{
			margin: 50px 0px 20px 0px;
		}

		h5{
			margin: 30px 0px 20px 0px;
		}
		p,h4,span{
			line-height: 20px;
			font-size: 15px;	
		}
		span{
			color: blue;
			img{
				margin: 0px 15px 0px 25px;
				float:left;
			}
		}

		p{
			text-indent: -25px;
		}
		h4{
			text-indent: 25px;
		}
		> img{
			margin: 0px -20px 0px 25px;
		}
	}
}

#footer{
	height: 275px;
	border-top: solid 1px $bordercolor;
	border-bottom: solid 1px $bordercolor;
	background: $bgcolor2;
	color: $fontcolor;

	p,strong,b,li{
		font-size: 12px;
		line-height: 20px;
	}

	h4{
		font-size: 16px;
		font-weight: bold;
		margin: 0px 0px 30px 0px;
	}
	div{
		float: left;
		position: relative;
		margin: 20px 0px 0px 30px;
		height: 250px;
	}
	#sitemap{
		width: 200px;
		ul{
			width: 110px;
			li{
				float: left;
				margin: 0px 0px;
			}
		}
	}
	#testimonials{
	
		width: 350px;

		b{
			font-weight: bold;
		}
	}
	#blog{
		width: 300px;
		h5{
			margin: 25px 0px 0px 0px;
		}
		strong{
			color: blue;
		}
	}
}
#foot{
	height: 50px;
	width: auto;
	background: $bgcolor2;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	line-height: 25px;
	p,span,#footlogo{
		position: relative;
		float: left;
	}
	p{
		width: 580px;
		margin: 10px 0px 0px 30px;
		font-size: 12px;
		color: $fontcolor;
	}
	span{
		margin: 10px 0px 0px 35px;
		img{
			margin-right: 10px;
		}
	}
	#footlogo{
		height: 50px;
		width: 150px;
		margin: 10px 0px 0px 70px;
		background: url('../resources/business-2.png');
		background-repeat: no-repeat;
	}
}