/*Portfolio Contents Stylesheet*/


$gradcol2: #FFF;
$gradcol3: #EEE;

#portfolio-cont{
	width: 920px;
	height: 780px;
	padding: 40px 0px 0px 40px;
	border-bottom: #DDD solid 1px;
	.portfolio{
	
	width: 280px;
	height: 220px;
	margin: 0px 20px 40px 0px;
	position: relative;

	float: left;
		img{
			margin-bottom: 20px;
		}
		h1,p{
			color: #575757;
		}
		h1{
			font-weight: bold;
			font-size: 14px;
			line-height: 20px;
		}
		p{
			font-size: 12px;
			line-height: 20px;
		}
	}
	
}

#pagination{
	height: 70px;
	width: 960px;
	margin: auto;
	position: relative;
	line-height: 50px;

	background: -webkit-linear-gradient($gradcol3, $gradcol2);
	background: -o-linear-gradient($gradcol3, $gradcol2);
	background: -moz-linear-gradient($gradcol3, $gradcol2);
	background: linear-gradient($gradcol3, $gradcol2);

	span{
		color: blue;
		margin-left: 10px;
		font-size: 12px;
	}
	span:first-child{
		color: black;
		margin-left: 40px;
	}
}