/*Services Contents Stylesheet*/

.serv-container{
	height: 400px;
	width: 880px;
	padding: 40px;
	border-bottom: 1px #BBB solid;
	box-shadow: 0px 12px 14px -3px #DDD;
	.serv-contents{
		height: 400px;
		width: 280px;
		float: left;
		position: relative;
		margin: 0px 20px 0px 0px;
		
		h2,h3,p{
			color: #585858;
		}
		
		
		h2{
			font-size: 20px;
			float: left;
			b{
				font-size: 15px;
			}
		}
		h3{
			font-size: 18px;
			line-height: 20px;
		}
		
		div{
			margin:	40px 0px 20px 0px;
			height: 140px;
			width: 265px;
			border: solid 1px #DDD;	
			position: relative;
			img{
				position: absolute;
				top: 0px;
				left: 35px;
			}
		}
		
		p{
			line-height: 25px;
			font-size: 13px;
		}
		button{
			height:25px;
			margin: 0px;
			position: absolute;
			border-radius: 3px;
			border: #DDD 1px solid;
			background: -webkit-linear-gradient(#FFF , #EEE);
			background: -o-linear-gradient(#FFF , #EEE);
			background: -moz-linear-gradient(#FFF , #EEE);
			background: linear-gradient(#FFF , #EEE); 
		}
		.port-button{
			bottom: 0px;
			left: 0px;
		}
		.hire-button{
			bottom: 0px;
			right: 0px;
		}
	}
	.serv-contents:first-child, .serv-contents:last-child
		{
			div{
				img{
					top:0px;
					left:0px;
				}
			}
		}
	.serv-contents:last-child{
		margin: 0px 0px 0px 0px;
	}	
}

#benefits-cont{
	height: 335px;
	padding: 20px 40px;
	h1{
		font-size: 25px;
		margin: 0px 0px 30px 0px;
	}
	.benefits{
	width: 400px;
	height: 100px;
	position: relative;
	float: left;
	margin: 0px 30px 0px 0px;
	font-size: 12px;
		img{
			float: left;
			margin: 0px 15px 20px 0px;
		}
	}
	p{
		color: #575757;
	}
}